body {
	font:13px/19px monospace;
	margin:0;
}
br {
	display:block;
}
.b-canvas {
	margin:auto;
	max-width:56em;
}

/* header > */
.b-header {
	display:table;
	width:100%;
	margin:0 0 2em;

	color:#777;
}
.b-header__row {
	display:table-row;
}
.b-header__section {
	display:table-cell;
	text-align:left;
}
.b-header__section_type_center {
	text-align:center;
}
.b-header__section_type_right,
.b-header__section:last-child {
	text-align:right;
}
.b-header + .b-header {
	margin-top:-1em;
}
/* header < */

/* footer > */
.b-footer {
	display:table;
	width:100%;
	margin:0 0 2em;

	color:#777;
}
.b-footer__row {
	display:table-row;
}
.b-footer__section {
	display:table-cell;
	text-align:left;
}
.b-footer__section_type_center {
	text-align:center;
}
.b-footer__section_type_right,
.b-footer__section:last-child {
	text-align:right;
}
.b-footer + .b-footer {
	margin-top:-1em;
}
/* footer < */

.b-document-header__section {
	display:table-cell;
	text-align:left;
}
.b-document-header {
	display:table;
	width:100%;
	margin:0 0 2em;
}
.b-document-header__section {
	display:table-cell;
	text-align:left;
}
.b-document-header__section:last-child {
	text-align:right;
}

.b-document-body {
	margin:0 0 2em;
}

.b-pure-content h1,
.b-document-title {
	font:inherit;
	font-weight:bold;
	margin:1em 0 1em 2.4em;
}

.b-pure-content p {
	font:inherit;
	margin:1em 0 1em 2.4em;
}
.b-pure-content h2,
.b-pure-content h3,
.b-pure-content h4,
.b-pure-content h5,
.b-pure-content h6 {
	font:inherit;
	font-weight:bold;
	margin:1em 0;
}
.b-pure-content h4 {
	font-weight:normal;
}

.b-pure-content ul {
	list-style-type:circle;
	margin:1em 0 1em 2em;
}
.b-pure-content ol {
	list-style-type:decimal;
	margin:1em 0 1em 2em;
}


.b-content-list {
	counter-reset:item;
	margin:1em 0;
	padding:0;
}
.b-content-list__item {
	display:block;
	white-space: nowrap;
}
.b-content-list__item:before {
	content: counters(item, ".") ".";
	counter-increment: item;
	display:inline-block;
	vertical-align:top;
	min-width:1.8em;
}
.b-content-list_level_2 {
	margin:0 0 0 2.4em;
}
.b-content-list_level_2 > .b-content-list__item:before {
	min-width:3em;
}
.b-content-list__item-text {
	display:inline-block;
	white-space:normal;
}

.b-menu {
}
.b-menu__list {
	list-style-type:none;
	margin:0;
	padding:0;
}
.b-menu_type_inline .b-menu__item {
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
}
.b-menu_viewtype_square-brackets {
	background:#eee;
	border-top:6px solid #4dd;
	margin:0 0 1em;
	padding:0.5em 0 2.5em;
}
.b-menu_viewtype_square-brackets .b-menu__item {
}
.b-menu_viewtype_square-brackets .b-menu__item-text:before {
	content:'['
}
.b-menu_viewtype_square-brackets .b-menu__item-text:after {
	content:']'
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link {
	color:inherit;
	text-decoration:none;
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link .b-link__text {
	color:#00e;
	text-decoration:underline;
}
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link:hover .b-link__text,
.b-menu_viewtype_square-brackets .b-menu__item-text.b-link:active .b-link__text {
	color:#e00;
}


.b-document-section {
	margin:0;
}
.b-document-section__title {
	display:block;
	font-weight:bold;
	text-transform:uppercase;
}
.b-document-section__body {
	margin:0 0 0 5.4em;
}